[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.suo
*.rsuser
*.sln.docstates
*.userosscache

*.psess
*.vsp
*.vspx
*.sap
TestResults/

*.bak
*.cache
*.tmp
*.temp
*.log
~*

*.nupkg
packages/
!packages/build/
*.nuget.props
*.nuget.targets

*.mdf
*.ldf
*.ndf
*.sqlite
*.db

appsettings.Development.json
appsettings.Local.json